<html>
  <head>
    <script src="../drop-upload.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="DUCtrl.js"></script>
    <link href="du.css" rel="stylesheet" />
  </head>
  <body ng-app="DUApp" ng-controller="DUCtrl">
    <div id="debug"></div>
    <div id="du" class="du">
      <span>Drop files here</span>
    </div>
    <button ng-click="upload()">Upload</button>
    <ul id="files" ng-repeat="file in files">
      <li>
        {{file.name}}
        <div class="progress-frame">
          <!-- The progress bar below will be update every time the uploader receives a 'progress' event -->
          <div ng-style="{'border-top': '1px solid #3886d8', 'border-bottom': '1px solid #3886d8','border-radius':'5px','background-color':'419bf9','height':'3px','width': file.progress*2}"></div>
        </div>
      </li>
    </ul>
  </body>
</html>